.board-container {
    background-color: var(--color-eighth);
    padding: 20px;
    font-size: clamp(.5rem, 3vw, 2rem);
    box-shadow: .4em .4em 0 rgba(0, 0, 128, 0.400),
                .8em .8em 0 rgba(0, 0, 128, 0.25),
                1.2em 1.2em 0 rgba(0, 0, 128, 0.125);
    border: 3px solid var(--color-black-first);
}

.board {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2%;
    width: clamp(220px, 80vw, 612px);
    height: clamp(220px, 80vw, 612px);
    background-color: var(--color-fifth);
    background-image: linear-gradient(45deg, #ff0000 30%, #ff0080 100%);
}

.board > .player {
    width: 100%;
    height: 100%;
    background-color: var(--color-eighth);
    cursor: pointer;
    transition: all .2s linear;
}

.board > .player.on-game:hover {
    background-color: var(--color-seventh);
}

.board > .player > img {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: var(--color-eighth);
}