.showEvents {
    font-family: var(--font-title);
    font-size: var(--size-small);
    color: var(--color-white-second);
    text-shadow: var(--text-shadow-small);
}

.showEvents input {
    display: none;
}

.showEvents label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.showEvents label::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 3px solid var(--color-white-second);
    box-shadow: var(--text-shadow-small);
}

.showEvents input:checked + label::before {
    content: '✓';
    text-align: center;
}