
.showEvents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--size-small);
    color: var(--color-white-second);
    text-shadow: var(--text-shadow-small);
}

.showEvents label {
    padding-top: 1px;
}