.close-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    filter: drop-shadow(1px .5px 0 rgb(0, 0, 0));
}

.close-icon::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 120%;
    height: 5px;
    background-color: var(--color-white-second);
    transform: rotate(45deg);
}

.close-icon::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 120%;
    height: 5px;    
    background-color: var(--color-white-second);
    transform: rotate(-45deg);
}