.logo {
    font-size: clamp(0.2rem, 1.2vw, 0.5rem);
}

.logo img {
    width: clamp(120px, 40vw, 260px);
    image-rendering: pixelated;
    filter: drop-shadow(.4em .4em 0 rgba(0, 0, 0, .4))
            drop-shadow(.8em .8em 0 rgba(0, 0, 0, .27))
            drop-shadow(1.2em 1.2em 0 rgba(0, 0, 0, .15));

}