:root {
    --color-first: #ff8201;
    --color-second: #a2ee4b;
    --color-third: #13cf77;
    --color-fourth: #8000ff;
    --color-fifth: #ff0000;
    --color-sixth: #ff0080;
    --color-seventh: #0000ff;
    --color-eighth: #000080;
  
    --color-white-first: #fff;
    --color-white-second: #eeeeee;
    --color-white-third: #c5c5c5;
    --color-white-fourth: #a3a3a3;
  
    --color-black-first: #000;
    --color-black-second: #323336;
    --color-black-third: #4c5058;
    
}